
.bottone a:link,
.bottone a:visited,
.bottone a:hover,
.bottone a:active{
    background-color: #FFFFFF;
    font-weight: bold;
    color: #080C71;
    font-size: 30px;
    border-radius: 15px;
    padding-left: 125px;
    padding-bottom: 11px;
    padding-top: 15px;
    padding-right: 125px;
}

.bottone{
    border-top: 3px solid #FFFFFF;
    padding-top: 45px;
}