
.menu h1{
    width: 227px;
    height: 130px;
    margin-top: 20px;
    margin-left: 35px;
    position: absolute;
    left: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active{
    color: #FFFFFF;
}

.menu ul {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1;
    padding-top: 87px;
    margin-right: 35px;
    list-style: none; /* Rimuovi i punti elenco */
}

.menu li{
    padding-left: 54px;
 }

