.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li{
    color: #FFFFFF;
    padding: 28px;
    font-size: 20px;
    margin-top: 87px;
    list-style: none; /* Rimuovi i punti elenco */
}


.menu::before {
    content: "";
    background-image: url("../img/logotipo.png");
    width: 227px;
    height: 130px;
    position: absolute;
    background-size: 227px 130px;
    background-repeat: no-repeat;
    left: 35px;
    top: 20px;

}

