.menu {
    display: flex; 
    justify-content: flex-end; /* Allinea gli elementi della lista alla fine (destra) */
}

.menu ul {
    display: flex; /* Rendi il contenitore della lista (ul) flessibile */
    padding: 0; /* Rimuovi padding predefinito */
    margin: 0; /* Rimuovi margine predefinito */
    list-style: none; /* Rimuovi i punti elenco */
}

.menu li {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 54px; /* Spaziatura tra gli elementi della lista */
}


