
.social ul li{
    list-style: none;
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 34px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.social ul{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
