

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.social img{
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 30px;
}

