.sottotitolo p{
    color: #FFFFFF;
    font-family: serif;
    font-size: 30px;
    margin-top: 52px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
}