 
  
  
.main{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
  }

.titolo h2{
    padding-top: 19px;
    padding-bottom: 19px;
    color: #FFFFFF;
    font-size: 80px;
    border-top: 3px solid #343434;
    border-bottom: 3px solid #343434;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

